globus-cli
globus-timer-cli==0.2.9
scipy
python-dotenv
datajoint>=0.13.4
element-calcium-imaging
element-array-ephys
element-interface
#ecephys_spike_sorting @ git+https://github.com/AllenInstitute/ecephys_spike_sorting.git
ecephys_spike_sorting @ git+https://github.com/jenniferColonell/ecephys_spike_sorting.git
scanreader @ git+https://github.com/atlab/scanreader.git
pandas
numpy
astropy
jupyterlab
bitstring
suite2p>=0.10.3
cellpose
scp
paramiko
psutil
deeplabcut
# matlab
# matlabengineforpython
